version: "2"
services:
    server:
        image: keenansame/shopify-integrator:latest
        ports:
            - "${PORT}:${PORT}"
        container_name: ${SERVER_CONTAINER_NAME}
        env_file:
            - .env
        depends_on:
            - postgres
        volumes:
            - ./:/keenan/
        networks:
            - integrator-net

    docs:
        image: keenansame/shopify-integrator-docs:latest
        ports:
            - "${DOCS_PORT}:${DOCS_PORT}"
        container_name: ${DOCS_CONTAINER_NAME}
        env_file:
            - ../Shopify-Integrator/.env
        volumes:
            - .env:/keenan/.env
            - ../Shopify-Integrator-docs/swagger.yml:/keenan/docs/swagger.yml
        networks:
            - integrator-net

    ngrok:
        image: ngrok/ngrok:latest
        ports:
            - 8888:4040
        container_name: ${NGROK_CONTAINER_NAME}
        restart: unless-stopped
        command:
            - "start"
            - "--all"
            - "--config"
            - "/etc/ngrok.yml"
        depends_on:
            - server
        volumes:
            - ./ngrok/ngrok.yml:/etc/ngrok.yml

    app:
        image: mrkkyle/shopify-integrator-app:latest
        ports:
            - "${APP_PORT}:${APP_PORT}"
        container_name: ${APP_CONTAINER_NAME}
        volumes:
            - ./app/src:/keenan/app/src
        networks:
            - integrator-net

    postgres:
        image: postgres
        container_name: ${DB_NAME}
        ports:
            - "5432:5432"
        restart: always
        environment:
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PSW}
            - POSTGRES_DB=${DB_NAME}
        volumes:
            - integrator-volume:/var/lib/postgresql/data
        networks:
            - integrator-net

volumes:
    integrator-volume:
        driver: local

networks:
    integrator-net:
        driver: bridge
