
.tablink 
{
    background-color: #fcfafa;
    color: rgb(37, 37, 37);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 2px;
    font-size: 15px;
    width: 7%;
    position: relative;
    transition-duration: 0.4s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tablink:hover 
{
    background-color: #b6b6b6;
}

.tabcontent 
{
    color: white;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}
.button-holder 
{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: rgba(238, 243, 248, 1);
}

.details 
{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(61, 61, 61, 0.5);
    width: 100%;
    height: 100%;
}    
.details-details 
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}
.details-image
{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
    padding: 10px;
    filter: blur(2px);
    left: 0%;
    /* transform: translate(-50%); */
}
.detailed 
{
    position: absolute;
    color: rgb(0, 0, 0);
    left: 50%;
    transform: translate(-49%);
    background-color: rgb(255 255 255 / 57%);
    width: 51%;
    height: 100%;
    overflow: auto;
    text-align: center;
    left: 54%;
}
.details-left 
{
    position: absolute;
    color: white;
    right: 0%;
    background-color: rgb(255 255 255 / 57%);
    width: 20%;
    height: 100%;
    overflow: auto;
    text-align: center;
    border-left: 1px solid #e1e1e1;
}
.details-right
{
    position: absolute;
    color: white;
    left: 0%;
    background-color: rgb(255 255 255 / 57%);
    width: 29%;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.details-title 
{
    position: relative;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 45px;
    padding-top: 45px;
}
.details-activity 
{
    position: relative;
}
.details-description 
{
    position: relative;
    font-size: 18px;
    text-align: center;
}
.details-code 
{
    position: relative;
}
.details-options 
{
    position: relative;
}
.details-category 
{
    position: relative;

}
.details-type 
{
    position: relative;
}
.details-vendor 
{
    position: relative;
}
.details-price 
{
    position: relative;
}
.details-update-date 
{
    position: relative;
}
.close-button 
{
    position: absolute;
    display: none;
    width: 70px;
    height: 50px;
    top: 5px;
    right: 0px;
    cursor: pointer;
    z-index: 2;
    color: rgb(184, 11, 11);
    font-size: 45px;
    text-align: center;
}
table 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
    color: black;
    font-size: 14px;
}
td, th 
{
    border: 1px solid #5d5d5d;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) 
{
    background-color: #e0e0e0;
    cursor: pointer;
}
tr
{ 
    border: none;
    transition-duration: 0.4s;
}
tr:hover 
{
    border-left: 1px solid black;
}

.active
{
    position: absolute;
    height: 30px;
    top: 47px;
    width: 30px;
    right: 245px;
    display: block;
    background-size: cover;
    background-image: url(../media/tick.png);
}
.inactive
{
    position: absolute;
    height: 30px;
    top: 48px;
    width: 30px;
    right: 245px;
    display: block;
    background-size: cover;
    background-image: url(../media/cross.png);
}
#activity
{
    transition-duration: 0.1s;
    visibility: hidden;
    position: absolute;
    margin: 1px;
    font-size: 12px;
    left: 68%;
    top: 50px;
    user-select: none;
    background-color: rgba(61, 61, 61, 0.1);
}
.active:hover, .inactive:hover ~ #activity
{
    visibility: visible;
}

.variants
{
    position: relative;
    width: 80%;
    height: auto;
    overflow: auto;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color:#cecece;
}
.variants:nth-child(even) 
{
    background-color:#d8d8d8;
}
.vr 
{
    text-align: right;
    position: relative;
    right: 0%;
    bottom: 5%;
    width: auto;
    height: auto;
}
p{ padding: 10px 60px;}
c 
{
    margin-left: 5px;
    margin-right: 5px;
}
.variant-title 
{
    position: relative;
    color: black;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}
.variant-price 
{
    margin-bottom: 5px;
    float: right;
}
.variant-updateDate 
{

}