/* Filter */
body 
{
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Filter elements */
.filter 
{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 10px;
    opacity: 1;
    transition-duration: 0.4s;
    animation: SlideUp 1.2s ease-in;
}
.filter-title
{
    position: relative;
    display: none;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.filter-elements 
{
    position: relative;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
    background-color: rgba(61, 61, 61, 0.7);
    overflow: auto;
    padding: 15px;
    cursor: pointer;

}
.filter-elements:hover 
{
    background-color: rgba(61, 61, 61, 0.9);
}
.filter-img 
{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../media/tick.gif);
    width: 20px;
    height: 20px;
}
.filter-button 
{
    display: none;
    text-align: center;
    font-size: 12px;
    width: 100px;
    height: 40px;
    position: relative;
    background-size: cover;
    color: black;
    border: 1px solid #000000;
    border-radius: 4px;
    transition-duration: 0.4s;
    left: 25%;
    float: left;
    margin-left: 10px;
    transform: translate(-10%);
    cursor: not-allowed;
}
.filter-button:hover
{
	color: rgb(0, 0, 0);
	border: 1px solid white;
	background-position: center;
}
.filter-selection-main 
{
    display: none;
    background-color: rgb(137 137 137 / 90%);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    animation: FadeIn ease-in 0.5s;
    z-index: 5;
}
.filter-selection-title 
{
    font-size: 18px;
    padding: 20px;
}
.filter-input
{   
    position: relative;
    width: 40%;
    height: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    background-color: rgba(61, 61, 61, 0.7);
    overflow: hidden;
}
.vendor, .category, .type
{
    display: none;
}
.close-filter 
{
    position: absolute;
    display: block;
    width: 70px;
    height: 50px;
    top: -5px;
    right: -16px;
    cursor: pointer;
    z-index: 2;
    color: rgb(184, 11, 11);
    font-size: 35px;
    text-align: center;
}
input[type = vendor], input[type = category], input[type = type]
{
	width: 450px;
	padding: 15px;
	margin: 5px 0; 
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
    background-color: transparent;
    border-radius: 0px;
}

/* Search element */
form.search-area 
{
    opacity: 0;
    border: none;
    padding: 0;
}
input[type="search"] 
{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    
}

input[type="search"]::placeholder 
{
    color: #3b3b3b;
}
input.search-area
{
    width: 260px;
    border: 1px solid #555;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 9px 4px 9px 40px;
    background: transparent url(../media/search.svg) no-repeat 13px center;
}

/* Main element */
.main 
{
    position: absolute;
    display: block;
    left: 51%;
    top: 13%;
    width: 70%;
    height: 90%;
    opacity: 1;
    z-index: 2;
    transform: translate(-30%, -6%);
    animation: SlideUp2 1.2s ease-in;
    overflow: hidden;
}
.main-elements 
{
    position: relative;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    background-color:rgb(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    overflow: auto;

}
.pan-main 
{
    display: block;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 90%;
    top: 5px;
}
/* divs inside main element */
.pan
{
    display: none;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    border-radius: 10px;
    width: 90%;
    height: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(0, 0, 0, 0.6);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(to left, #202020, #818181);
}
.pan:hover 
{
    background-color:rgb(0, 0, 0, 0.9);
}
.pan-img 
{
    position: relative;
    top: 50%;
    left: 0;
    height: 126px;
    width: 126px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    transform: translate(0%, -50%);
    background-size: cover;
    background-position: center;
    background-color: rgb(177 177 177);
}
.pan-details
{
    position: relative;
    float: left;
    height: 100%;
    width: 80%;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 4px;
    transition-duration: 0.4s;
    pointer-events: none;
}
.p-d-id, .p-d-activity
{
    display: none;
    pointer-events: none;
}
.p-d-false 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/cross.png);
}
.p-d-true 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/tick.png);
}
.p-d-unknown
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/question-mark.png);
}
.p-d-load 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/load.png);
}
.p-d-title
{
    border: none;
}
.p-d-status
{
    position: absolute;
    left: 76%;
    font-weight: 400;
}
.status
{
    display: inline;
}
@keyframes SlideUp 
{
    from {top: 20%; opacity: 0;}
    to {top: 0%; opacity: 1;}
}

@keyframes SlideUp2 
{
    from {top: 20%; opacity: 0;}
    to {top: 13%; opacity: 1;}
}

@keyframes SlideUp3
{
    from {top: 30%; opacity: 0;}
    to {top: 53%; opacity: 1;}
}

@keyframes MoveLeft 
{
    from {position: relative; z-index: 1; width: 100%; left: 0%;}
    to {z-index: 1; width: 70%; left: 30%;}
}
@keyframes MoveLeft2
{
    from {position: relative; z-index: 1; width: 100%; left: 0%;}
    to {z-index: 1; width: 75%; left: 25%;}
}

@keyframes MoveRight
{

    from {z-index: 1; width: 70%; left: 30%;}
    to {position: relative; z-index: 1; width: 100%; left: 0%;}
}

@keyframes appear 
{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Pagination */
.center 
{
    text-align: center;
    position: relative;
    top: -15px;
    display: none;
}
.hidden 
{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
.pagination button 
{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    background-color: transparent;
    cursor: pointer;
}
  
.pagination button.active 
{
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}
#next 
{
    float: right;
    position: relative;
    left: -50%;
    transform: translate(172%);
}
#prev
{
    float: right;
    position: relative;
    left: -50%;
    transform: translate(76%);
}

a
{
    color: black;
    transition-duration: 0.4s;
    text-decoration: none;
}
.orders .settings-2
{
    display: none;
    overflow: auto;
    padding: 5px;
    text-align: center;
}
.products .settings-2
{
    display: none;
    overflow: auto;
    padding: 30px;
    text-align: center;
}
.customer .settings-2
{
    display: none;
    overflow: auto;
    padding: 5px;
    text-align: center;
}
.add-title 
{
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 250px;
    margin-bottom: 10px;
}
.add-title:hover
{
    background-color: rgba(61, 61, 61, 0.1);
}
.icon 
{
    position: absolute;
    height: 29px;
    width: 28px;
    top: 9px;
    left: 32px;
    display: block;
    background-size: cover;
    background-image: url(../media/add.png);
}
.empty-message 
{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    padding: 15px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(61, 61, 61, 0.8);
    user-select: none;
}


